/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Syne:wght@700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {

	font-family: 'Work Sans';
	font-size: 14px;
}

.container {

	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	font-family: 'Work Sans';
	font-style: normal;
	color: #222222;

}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}




#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#section-form {
	width: 50%;
	margin: auto;
}

#section-form>* {
	text-align: center;

}

#section-form h2 {
	margin-bottom: 20px;
}

#section-form form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#section-form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#section-form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#section-form label {
	margin: 2em 0 1em 0;
}

#section-form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#section-form a {
	color: black;
	text-align: center;
	display: block;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;



}

#portfolio {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 100px;
}


.btn-categorie {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding-bottom: 50px;

}




button {
	padding-left: 20px;
	padding-right: 20px;
	height: 37px;
	border-radius: 60px;
	box-sizing: border-box;
	border: 1px solid #1D6154;
	font-size: 16px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
	color: #1D6154;
	background-color: white;


}



.btn-categorie :hover {
	background-color: #1D6154;
	color: white;

}

.btn-categorie-active {
	background-color: #1D6154;
	color: white;

}




.section-admin {
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	flex-wrap: wrap;

}

.edition {
	background-color: black;
	border: none;
	color: white;

}



.publier-chargement {

	color: black;

}





.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);


}

#modal-entete {
	width: 100%;


}

#modal-content {
	background-color: white;
	width: 30%;
	margin: auto;
	padding: 30px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;

}

#modal-element {
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;

}


#modal-element h3 {
	font-size: 18px;
	text-align: center;
}

#modal-element hr {
	width: 100%;
	border: 1px solid #B3B3B3;
}

#modal-element button {
	width: 50%;
	background-color: #1D6154;
	color: white;
	margin: auto;
	font-size: 14px;


}

#modal-element span {
	text-align: center;
	color: red;
}

#modal-element span:hover {
	cursor: pointer;


}

#modal-element #section-form {
	width: 100%;


}



#modal-section-photo {

	width: 100%;
	overflow: auto;
	height: 370px;




}

#modal-section-photo article {
	width: 17.4%;
	height: 100px;
	background-color: white;
	margin: 5px;
	display: inline-block;
	padding-top: 10px;



}

#modal-section-photo article span {
	text-align: center;
	color: black;
}







#cadre-image i {

	padding: 4px;
	background-color: black;
	color: white;
	font-size: 9px;
	z-index: 100;
	float: right;
	top: -85px;
	left: -5px;
	z-index: 1;
	position: relative;
	border-radius: 2px;


}

#cadre-image i:hover {
	cursor: pointer;

}

#cadre-image {
	width: 100%;



}


#cadre-image img {
	width: 100%;
	height: 90px;
	object-fit: cover;
	position: relative;
	z-index: 0;


}


#cadre-image-ajout {

	background-color: #E8F1F7;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	gap: 10px;


}

#cadre-image-ajout button {
	width: 180px;
	padding: 10px 25px;
	border-radius: 15px;
	font-size: 12px;
	background-color: #CBD6DC;
	color: #306685;
	border: none;



}


.cadre-upload {
	display: inline-block;
	position: relative;
	overflow: hidden;
}



input[type="file"] {
	left: 0;
	top: 0;
	opacity: 0;
	position: absolute;
	font-size: 90px;
	color: transparent;



}






#cadre-image-ajout i {
	font-size: 70px;
	color: gainsboro;


}



#cadre-image-ajout input {
	border: none;
	box-shadow: none;



}


#submit-valider {

	padding: 10px;
}


#submit-valider:hover {

	cursor: pointer;
}


#ajout-form hr {

	margin-top: 40px;
}






.close {
	color: black;
	font-size: 20px;
	font-weight: bold;
	float: right;
}

.close:hover,
.close:focus {
	color: #222222;
	text-decoration: none;
	cursor: pointer;
}



.retour {
	color: black;
	font-size: 20px;
	font-weight: bold;
	float: left;

}

.retour:hover,
.retour:focus {
	color: #222222;
	text-decoration: none;
	cursor: pointer;
}

#introduction i {
	font-size: 18px;
	color: grey;
}


.figure-edit {

	display: flex;
	flex-direction: column;
	font-size: 17px;
	gap: 20px;
	color: grey;
}

.cadre-edit {

	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-left: 55px;
	color: grey;


}



.cadre-edit2 {

	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 17px;
	color: grey;


}

.cadre-edit3 {

	font-size: 16px;
	margin-top: -25px;
	margin-left: 350px;
	color: grey;
	font-weight: normal;


}

.cadre-edit3 i {
	font-size: 18px;


}

.cadre-edit:hover {

	cursor: pointer;
}


.cadre-edit2:hover {

	cursor: pointer;
}

.cadre-edit3:hover {

	cursor: pointer;
}





.article-edit {

	display: flex;
	flex-direction: column;
	margin-top: -50px;
	gap: 20px;

}


.element-cacher {
	display: none;
}

.element-montrer {
	display: block;
}

#image-upload {
	width: 100px;
	margin: auto;
}

#submit-valider {

	background-color: gray;
}

#submit-valider:hover {

	cursor: pointer;
}



#submit-valider-change {

	background-color: #1D6154;

}

#submit-valider-change:hover {

	cursor: pointer;
}

.incorrect {
	color: red;
	font-size: 14px;

}

.loginText {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

#edit-mode {
	color: gray;
	font-size: 17px;
	margin-left: 33px;
	display: inline-block;
	position: absolute;
	margin-top: 7px;


}

#cursor {

	position: absolute;
	color: white;
	margin-left: 38px;
	margin-top: 22px;
	background-color: black;
	z-index: 1;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 18px;
	border-radius: 2px;


}